 .u-section-1 {
  background-image: url("images/mbbmpro.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 752px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 302px;
  margin: 330px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 8.125rem;
  text-align: start;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-line-1 {
  height: 6px;
  margin-top: 10px;
  transform-origin: left center;
  text-align: start;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 8.125rem;
  text-align: start;
  font-weight: 700;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 180px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 35.43% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 113px;
    min-height: 210px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 421px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1rem;
  font-weight: 700;
  margin: 3px 640px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 237px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 42px auto 0 0;
  padding: 0;
}

.u-section-3 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-3 .u-line-1 {
  height: 6px;
  transform-origin: left center;
  width: 570px;
  margin: 54px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 500px;
    margin-right: 440px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 37px;
    width: 903px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 220px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 40px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 778px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 718px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 384px;
  height: 488px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 718px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 384px;
  height: 488px;
  margin: 1px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 592px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 592px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 381px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 453px;
  }

  .u-section-4 .u-image-2 {
    width: 300px;
    height: 381px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 440px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 271px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 277px;
  }
} .u-section-5 {
  min-height: 420px;
}

.u-section-5 .u-gallery-1 {
  height: 420px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 346px;
  }

  .u-section-5 .u-gallery-1 {
    height: 346px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 1060px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1060px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 3529px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3529px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 2222px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2222px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 838px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 718px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 384px;
  height: 488px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 718px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 384px;
  height: 488px;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 592px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 592px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-6 .u-image-1 {
    width: 300px;
    height: 381px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 453px;
  }

  .u-section-6 .u-image-2 {
    width: 300px;
    height: 381px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1002px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 441px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 278px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 568px;
}

.u-section-7 .u-group-1 {
  width: 998px;
  min-height: 448px;
  height: auto;
  margin: 60px auto 8px 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1.7;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}

.u-section-7 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 25px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-7 .u-group-1 {
    width: 940px;
    min-height: 188px;
    margin-top: 0;
    margin-bottom: 60px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
    min-height: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
    min-height: 108px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
    min-height: 68px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 301px;
}

.u-section-8 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1px 815px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-size: 3.75rem;
  letter-spacing: 1px;
  align-self: center;
  font-weight: 700;
  margin: 12px auto 0 0;
  padding: 0;
}

.u-section-8 .u-text-2 {
  margin: 12px 797px -127px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 615px;
    width: 325px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 597px;
    width: 343px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 395px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 377px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: 215px;
  }

  .u-section-8 .u-btn-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-2 {
    margin-right: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-right: 15px;
  }

  .u-section-8 .u-btn-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    width: 340px;
  }
}